*.o
*.pyc
*.tar.xz
*.*~
*AutoDict*
*.pdf
*.root
*/commands/*.txt
*/*/commands/*.txt
*.dat
.nfs*
*DS_Store
.fuse*
Generator/crosssections/ChiPsi/LQLQ/*
Generator/crosssections/ChiPsi/LQLQToBTau/*
Generator/crosssections/ChiPsi/LQLQToBTauPsiChi/*
Generator/crosssections/ChiPsi/LQLQToPsiChi/*
Generator/crosssections/ChiPsi/PsiPsi/*
Generator/NanoAODTools/
Generator/exampleAnalysis.py
Analyzer/obj/*
Analyzer/lib/*
Analyzer/bin/*
Analyzer/LQDM
Analyzer/JECDatabase
Analyzer/JRDatabase
*.logsite/
site/
