*.o
*.pyc
*.tar.xz
*.*~
*AutoDict*
*.pdf
*.root
*/commands/*.txt
*.dat
.nfs*
*DS_Store
.fuse*
GENSIM/crosssections/ChiPsi/LQLQ/*
GENSIM/crosssections/ChiPsi/LQLQToBTau/*
GENSIM/crosssections/ChiPsi/LQLQToBTauPsiChi/*
GENSIM/crosssections/ChiPsi/LQLQToPsiChi/*
GENSIM/crosssections/ChiPsi/PsiPsi/*
GENSIM/NanoAODTools/
GENSIM/exampleAnalysis.py
macros/obj/*
macros/lib/*
macros/bin/*
*.log