*.o
*.pyc
*.tar.xz
*.*~
*AutoDict*
*.pdf
*.root
*/commands/*.txt
*/*/commands/*.txt
.nfs*
*DS_Store
.fuse*
.testsamples/Test*.xml
Generator/crosssections/ChiPsi/LQLQ/*
Generator/crosssections/ChiPsi/LQLQToBTau/*
Generator/crosssections/ChiPsi/LQLQToBTauPsiChi/*
Generator/crosssections/ChiPsi/LQLQToPsiChi/*
Generator/crosssections/ChiPsi/PsiPsi/*
Generator/cards/ChiPsi/CrossBR/PsiPsi/*
Generator/cards/ChiPsi/CrossBR/LQLQ/*
Generator/crosssections/ChiPsi/LQTChannelTauNu/*
Generator/crosssections/ChiPsi/LQTChannelTauTau/*
Generator/crosssections/ChiPsi/LQTChannelMuMu/*
Generator/crosssections/ChiPsi/LQTChannelTauMu/*
Generator/crosssections/ChiPsi/LQTChannelMuMu_DynamicScale/*
Generator/crosssections/ChiPsi/LQTChannelTauMu_DynamicScale/*
Generator/crosssections/ChiPsi/LQTChannelTauNu_DynamicScale/*
Generator/crosssections/LQTChannel/LQTChannelTauTau_DynamicScale_VectorLQUFO/*
Generator/crosssections/LQTChannel/LQTChannelTauNu_DynamicScale_VectorLQUFO/*
Generator/crosssections/LQTChannel/LQTChannelTauMu_DynamicScale_VectorLQUFO/*
Generator/crosssections/LQTChannel/LQTChannelTauTau_DynamicScale_VectorLQUFOFlex/*
Generator/crosssections/LQTChannel/LQTChannelTauNu_DynamicScale_VectorLQUFOFlex/*
Generator/crosssections/LQTChannel/LQTChannelTauMu_DynamicScale_VectorLQUFOFlex/*
Generator/crosssections/LQTChannel/LQTChannelTauTau_DynamicScale_VectorLQUFOFlexCorrectCouplings/*
Generator/crosssections/LQTChannel/LQTChannelTauNu_DynamicScale_VectorLQUFOFlexCorrectCouplings/*
Generator/NanoAODTools/
Generator/exampleAnalysis.py
Analyzer/obj/*
Analyzer/lib/*
Analyzer/bin/*
Analyzer/LQDM
Analyzer/Makefile.local
Analyzer/JECDatabase
Analyzer/JRDatabase
Analyzer/correctionlib_python2
Tuplizer/Workarea
Submitter/joboutput
ClusterSubmission/
*.logsite/
site/
HiggsAnalysis/
Plotter/bin/*
*#
